@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --purplePrimary: 252, 100%, 62%;
    --purpleHover: 252,100%,68%;
    --purpleDisabled: 252,100%,84%;
    --lightPurple: 252,100%,96%;
    --darkGrey: 0, 0%, 20%;
    --themeGrey: 0, 0%, 45%;
    --border: 0,0%,85%;
    --lightGrey: 0, 0%, 98%;
    --lightGrey2:0, 0%, 93%;
    --white: 0, 0%, 100%;
    --redTheme: 0,100%,61%;
    --radius: 0.5em;
    --activeShadow: 252,100%,62%,0.25;
    --defaultShadow: rgba(0,0,0,0.1);
    --github: 0, 0%, 10%, 1;
    --frontendMentor: 0, 0%, 85%;
    --twitter: 198, 79%, 59%;
    --linkedIn : 223, 100%, 59%;
    --youtube:0, 84%, 58%;
    --facebook:227, 66%, 41%;
    --twitch: 313, 84%, 59%;
    --devto: 0, 0%, 20%;
    --codewars: 331, 68%, 32%;
    --freecodecamp: 252, 50%, 27%;
    --gitlab: 11, 83%, 53%;
    --hashnode: 227, 98%, 42%;
    --stackoverflow: 29, 100%, 46%;
    --bold: 700;
    --semibold:600;
    --regular: 400;
    --line-height:1.5,

  }
}

.header_container {
  margin: 0 auto;
  max-width: 2200px;
  padding: 24px;
  background-color: hsl(var(--lightGrey));
}
.header_container2{
  margin: 0 auto;
  max-width: 2200px;
  padding: 16px 16px 16px 24px;
  background-color: white;
  border-radius: 12px;
}
.body_container {
  margin: 0 auto;
  max-width: 2200px;

  padding: 24px;
  background-color: hsl(var(--lightGrey));
  min-height: 100vh;
}

@media only screen and (max-width: 640px) {
  .body_container {
    padding: 8px;
  }
  .header_container {
    padding: 8px;
  }
  .header_container2{
    padding: 24px;
  }
}

.dot-spinner {
  --uib-size: 1.6rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: white;
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

